body {
  color:black; 
}

li.draggable {
  border-radius: .75em;
  padding: 1em;
  border: solid black 2px;
  margin: 0.75em;
  background-color: cornsilk;
}

ul {
  list-style-type: none;
}




@media only screen and (min-width: 500px) {
  #items {
    margin: 2px;
  }
}